dist/aclocal.m4
dist/autom4te.cache
dist/compile
dist/config.*
dist/configure
dist/depcomp
dist/install-sh
dist/ltmain.sh
dist/Makefile.in
dist/m4/libtool.m4
dist/m4/lt*.m4
dist/missing
dist/stamp-h.in
dist/tags
cl/extern.h
common/extern.h
*_def.h
ex/extern.h
ex/version.h
vi/extern.h

# my build
build.me/*
!build.me/build.sh

# other build artifeacts
docs/vi.man/vi.0
